<div id="CONTEXT">
	<div id="LEFT" style="background-color:#33CC00; width: 365px; height:auto;">
		<div style="padding: 45px 5px 5px 15px; margin:5px;">
			<h2>Klasy</h2>
			<% @classes.each do |n| %>
			<%= link_to n.name, n %> #
			<% end %>
		</div>
	</div> 
	<div id="RIGHT" style="background-color:#33CC00; height:auto;px;">
		<div style="padding: 45px 5px 5px 15px; margin:5px;">
			<h2>Najbliższe zajęcia</h2>
			<% @plans.each do |n| %>
			<h3><%= n.subject %></h3>
			<p><%= n.room %></p>
			<p><%= Date::DAYNAMES[n.day] + ', godz. ' + n.hour.to_s  %></p>
			<hr />
			<% end %>
		</div>
	</div>	
</div>